<!DOCTYPE html>
<html>
<head>
<title>My Profile Page</title>
<link rel="stylesheet" href="../main.css">
<script src="../JS/sidenav.js"></script>
</head>
<body>
    <ul>
        <li><a href="../main.html">Home</a></li>
        <li><a href="../gallery.html">Gallery</a></li>
        <li><a href="../contact.html">Contact</a></li>
        <button id="sidebar">Social Links &#9776;</button>
    </ul>
    <div id="box1">
        <div id="img"><img src="../images/flagIcons/German_Flag_icon.png"/></div>
        <h2 id="head1">The One with Germany</h2>
        <p> I came to Germany to complete my Masters Degree, but apart from Master degree, Germany gave me a lot more to cherish for. From beer, football, sausages to one of the most colourful culture, my stay in Germany was memorable enough which I can carry forward and cherish throughout my life.  </p>
        <hr id="divider2">
        <img src="../images/travel/germany/port2.jpg" height="100px">
        <img src="../images/travel/germany/bh6.JPG" height="100px">
        <img src="../images/travel/germany/berlin4.jpg" height="100px">
        <img src="../images/travel/germany/berlincath.jpg" height="100px">
        <a href="../Countries/germany.html"><button id="sidebar">See More...</button></a>
    </div>
    <hr id="divider1">
    <div id="box2">
        <div id="img2"><img src="../images/flagIcons/spain.png"/></div>
        <h2 id="head1">The One with Spain and Portugal</h2>
        <p> The most life changing event that happened to me. This 16 days back-packing tour was a milestone in my life. The itinerary was huge starting from Mallorca, Ibiza, Valencia, Alicante, Sevilla, Lisbon, Porto, Madrid, Bilbao and Barcelona. Fascinating right? Have a tour...  </p>
        <hr id="divider2">
        <img src="../images/travel/spain/2.JPG" height="100px">
        <img src="../images/travel/spain/13.JPG" height="100px">
        <img src="../images/travel/spain/15.JPG" height="100px">
        <img src="../images/travel/spain/18.JPG" height="100px">
        <a href="../Countries/spain.html"><button id="sidebar">See More...</button></a>
    </div> 
    <hr id="divider1">
    <div id="box2">
        <div id="img3"><img src="../images/flagIcons/Italy.png"/></div>
        <h2 id="head1">The One with Venice</h2>
        <p> Its a beautiful city. Always recommended. It is safe to drink in Venice. Why? youmust visit there to find out. Get lost in Venice at night and tell me how it feels. One word. Mesmerizing!!! </p>
        <hr id="divider2">
        <img src="../images/travel/venice/2.jpg" height="100px">
        <img src="../images/travel/venice/4.jpg" height="100px">
        <img src="../images/travel/venice/6.jpg" height="100px">
        <img src="../images/travel/venice/8.jpg" height="100px">
        <a href="../Countries/Italy.html"><button id="sidebar">See More...</button></a>
    </div> 
    <hr id="divider1">
    <div id="box2">
        <div id="img4"><img src="../images/flagIcons/nederlands-netherlands-flag.png"/></div>
        <h2 id="head1">The One with Amsterdam</h2>
        <p> Yessss.. My first city in Europe after Germany. And why not? Lights, Museum and the vibes of this city is beyond explanation. Well the grass is greener and spirits are higher!!!  </p>
        <hr id="divider2">
        <img src="../images/travel/amsterdam/3.jpg" height="100px">
        <img src="../images/travel/amsterdam/5.jpg" height="100px">
        <img src="../images/travel/amsterdam/7.jpg" height="100px">
        <img src="../images/travel/amsterdam/9.jpg" height="100px">
        <a href="../Countries/Netherlands.html"><button id="sidebar">See More...</button></a>
    </div> 
    <div id="sidenav">
        <a href="https://www.facebook.com/aditya.ghosh.79">Facebook</a>
        <a href="https://twitter.com">Twitter</a>
        <a href="https://www.linkedin.com/in/aditya-ghosh-b30a22115/">Linked-In</a>
        <a href="http://www.touchtalent.com/">TouchTalent</a>
    </div>
</body>
</html>